@font-face {
    font-family: "Inter Perso";
    src: url("Inter-VariableFont_opsz\,wght.ttf");
}

html {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: 'Inter Perso', 'Courier New', Courier, monospace;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    position: absolute;
    right: 3%;
    top: 2%;
}

nav img {
    width: 7em;
}

#email-form
{
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
  padding: 0 3px;
}

#email-form div
{
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: justify;
    line-height: 2.5rem;
    font-size: 1.2em;
    font-weight: 400;
    font-style: italic;
    background: linear-gradient(#db7a34, #d68e22);
    background-clip: text;
    color: transparent;
}

#email
{
    background-color: #d89d6223;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    padding: 1em .7em;
    color: white;
    letter-spacing: 3px;
}

input:focus-visible
{
    border: none;
    outline: none;
    box-shadow: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #63482d inset !important;
    box-shadow: 0 0 0px 1000px #63482d inset !important;
    -webkit-text-fill-color: white !important;

}

button {
    background-color: #d89d6223;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    padding: .3em .5em;
    margin: .3em;
    color: white;
}

button:focus {
    cursor: pointer;
    background-color: #d89d6259;
}